@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@*<h1>@ViewData["Title"]</h1>*@
<p>
    Email não cadastrado.
</p>

<meta http-equiv="refresh" content="3; URL=/Home/Index">

